version: "3.7"
services:
  app:
    build:
      args:
        user: victorturra
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: nlwvaloriza
    container_name: nlwvaloriza-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - nlwvaloriza

  db:
    image: mysql:5.7
    container_name: nlwvaloriza-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/docker-entrypoint-initdb.d
      - db-data:/var/lib/mysql # Volume de dados do container
    networks:
      - nlwvaloriza
    ports:
      - "3309:3306"

  nginx:
    image: nginx:alpine
    container_name: nlwvaloriza-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    networks:
      - nlwvaloriza

  phpmyadmin:
    image: phpmyadmin
    container_name: nlwvaloriza-pma
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=password
    networks:
      - nlwvaloriza

volumes:
  db-data:

networks:
  nlwvaloriza:
    driver: bridge
